body {
  color: #030e12;
}

@font-face {
  font-family: "CircularStd";
  src: url("./fonts/circular-std-font.ttf") format("opentype");
}

/* --------------- Landing Page --------------- */

.landing {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  height: 100vh;
  background-color: #00a4cc;
}

.landing h1 {
  font-family: "CircularStd";
  font-size: 6em;
  color: white;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Internet Explorer */
@-ms-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.down-button {
  padding: 0.5em;
  border-radius: 50%;
  margin: 0 auto 4rem auto;
}

.down-button:hover {
  box-shadow: 0 0 0.1rem 0.1rem white, 0 0 0.2rem 0.2rem red,
    0 0 0.3rem 0.3rem blue;
}

.landing-div-cover {
  /* border: 3px solid red; */
  padding: 8rem;
  border-radius: 8em;
  box-shadow: 0 0 1rem 1rem white, 0 0 2rem 2rem red, 0 0 3rem 3rem blue;
  -webkit-animation: fadein 5s; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 5s; /* Firefox < 16 */
  -ms-animation: fadein 5s; /* Internet Explorer */
  -o-animation: fadein 5s; /* Opera < 12.1 */
  animation: fadein 5s;
}

/* --------------- About --------------- */

.about {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: left;
  justify-content: center;
  height: 60vh;
  gap: 4rem;
  background-color: #00a4cc;
}

.about p {
  max-width: 40ch;
}

.aboutPfp {
  height: 20vh;
  width: 20vh;
  border: 3px solid #030e12;
  border-radius: 50%;
}

.aboutPfp:hover {
  cursor: pointer;
  -webkit-animation: scaleup 1.5s; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: scaleup 1.5s; /* Firefox < 16 */
  -ms-animation: scaleup 1.5s; /* Internet Explorer */
  -o-animation: scaleup 1.5s; /* Opera < 12.1 */
  animation: scaleup 1.5s;
}

@keyframes scaleup {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.5);
  }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes scaleup {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.5);
  }
}

/* --------------- Projects --------------- */

.projects {
  display: flex;
  align-items: center;
  min-height: 70vh;
  background-color: #fcde67;
  padding: 3rem;
}

.project-card a {
  text-decoration: none;
}

.project-card-img {
  width: 100%;
  height: 35vh;
}

.project-card-description {
  visibility: hidden;
  background: rgba(10, 10, 10, 0.8);
  width: 100%;
  height: 100%;
  padding: 2rem;
}
.project-card:hover .project-card-description {
  visibility: visible;
}

.project-card-description h4 {
  color: white;
}

.project-card-description p {
  color: white;
}

.project-card-description span {
  font-weight: bold;
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  height: 40vh;
  background-color: #212529;
}

.footer-icon-list {
  display: flex;
  flex-direction: row;
}

.footer-icon {
  padding: 2rem;
  transform: scale(1.5);
}

.footer-note {
  display: block;
  color: #fcde67;
}
