html,
body {
  color: #030e12;
  overflow-x: hidden;
  width: 100%;
}

@font-face {
  font-family: "CircularStd";
  src: url("./fonts/circular-std-font.ttf") format("opentype");
}

/* --------------- Landing Page --------------- */

.landing {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  height: 100vh;
  background-color: #00a4cc;
}

.landing h1 {
  font-family: "CircularStd";
  font-size: 6em;
  color: white;
}

@keyframes fadein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

/* Internet Explorer */
@-ms-keyframes fadein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.down-button {
  padding: 1em;
  border-radius: 50%;
  margin: 0 auto 4rem auto;
}

.landing-icon {
  transform: scale(2);
}

/* .down-button:hover {
  box-shadow: 0 0 0.1rem 0.1rem white, 0 0 0.2rem 0.2rem red,
    0 0 0.3rem 0.3rem blue;
} */

.landing-div-cover {
  padding: 5rem;
  /* border-radius: 8em; */
  /* box-shadow: 0 0 1rem 1rem white, 0 0 2rem 2rem red, 0 0 3rem 3rem blue; */
  -webkit-animation: fadein 5s;
  /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 5s;
  /* Firefox < 16 */
  -ms-animation: fadein 5s;
  /* Internet Explorer */
  -o-animation: fadein 5s;
  /* Opera < 12.1 */
  animation: fadein 5s;
}

/* --------------- About --------------- */

.about {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: left;
  justify-content: center;
  min-height: 70vh;
  height: fit-content;
  padding: 1rem;
  gap: 4rem;
  background-color: #00a4cc;
  font-family: "CircularStd";
  color: white;
}

.about h1 {
  font-size: 4em;
}

.about p {
  font-size: 1.25em;
  max-width: 40ch;
}

.about-pfp {
  height: 26vh;
  width: 26vh;
  object-fit: none;
  border: 3px solid #fff;
  border-radius: 50%;
  transition: all 0.2s ease-in-out;
}

.about-pfp:hover {
  cursor: pointer;
  transform: scale(1.15);
}

/* --------------- Projects --------------- */

.projects {
  display: grid;
  gap: 1.5rem;
  padding: 6rem;
  grid-auto-columns: 1fr;
  grid-template-areas:
    "one two three"
    "four five five";
  /* "one one two"
    "five five five"
    "three four four"; */


  background-color: #fcde67;
}


.projects div:nth-child(1) {
  grid-area: one;
}

.projects div:nth-child(2) {
  grid-area: two;
}

.projects div:nth-child(3) {
  grid-area: three;
}

.projects div:nth-child(4) {
  grid-area: four;
}

.projects div:nth-child(5) {
  grid-area: five;
}

.project-card-padding {
  padding: 2rem;
}

.project-card {
  padding: 0;
  /* margin: 0.75rem; */
  border-radius: 1rem;
  overflow: hidden;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
  transition: all 0.3s ease-in-out;
}



.project-card:hover {
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
}

.project-card:hover::after {
  opacity: 1;
}

.project-card a {
  text-decoration: none;
}

.project-card-img {
  width: 100%;
  height: 35vh;
}

.project-card-description {
  width: 100%;
  height: 100%;
  padding: 2rem;
  background: rgba(10, 10, 10, 0.8);
  opacity: 0;
  transition: all 0.3s ease-in-out;
}

.project-card:hover .project-card-description {
  opacity: 1;
}

.project-card-description h4 {
  color: white;
}

.project-card-description p {
  color: white;
}

.project-card-description span {
  font-weight: bold;
}

/* -------------------------------- Footer -------------------------------- */

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  height: 40vh;
  background-color: #212529;
}

.footer-icon-list {
  display: flex;
  flex-direction: row;
}

.footer-icon {
  padding: 2rem;
  transform: scale(1.5);
}

.footer-note {
  display: block;
  color: #fcde67;
}

/* tablet/smaller */
@media (max-width: 991.98px) {
  .projects {
    padding: 4rem;
    grid-template-areas:
      "one two"
      "three four"
      "five five";
  }
  .project-card-padding {
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
  }

  .landing h1 {
    font-size: 5rem;
  }

  .about {
    flex-direction: column;
    text-align: center;
    padding: 4rem;
  }
}

/* --- mobile --- */
@media screen and (max-width: 575.98px) {
  .projects {
    padding: 2rem;
    padding-top: 4rem;
    padding-bottom: 4rem;
    grid-template-areas:
      "one"
      "two"
      "three"
      "four"
      "five";
  }
}

